<dom-module id="example-cross-component">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <p>Esto es un cross component.</p>

  </template>
  <script>
    Polymer({
      is: 'example-cross-component',
      another:function(){
        console.log("Se ejecuta fire foobar-event");
        this.fire('foobar-event', { 'itemId': Math.random() * (100 - 10) + 10 });
      }
    });
  </script>
</dom-module>
